<!DOCTYPE html>
<html>
<head>
    <title><%= app_title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/nwplayer.min.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/nwplayer.lib.js"></script>
</head>
<body>
    <div id="nwplayer">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= app_title %></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="toolbar nav navbar-nav navbar-left">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="search-video" class="btn btn-default" type="button" title="Search video"><i class="fa fa-search"></i></button>
                            <button id="db-history" class="btn btn-default" type="button" title="Video history"><i class="fa fa-folder"></i></button>
                        </span>
                        <input type="text" id="video-input" placeholder="Video URL or ID" class="form-control">
                        <span class="input-group-btn input-group-right">
                            <button id="video-play" class="btn btn-default" type="button" title="Play video"><i class="fa fa-play"></i></button>
                            <button id="video-random" class="btn btn-default" type="button" title="Ramdom video"><i class="fa fa-random"></i></button>
                            <button id="video-playlist" class="btn btn-default" type="button" title="Play list"><i class="fa fa-list-ol"></i></button>
                            <button id="video-related" class="btn btn-default" type="button" title="Related videos"><i class="fa fa-sitemap"></i></button>
                            <button id="video-refresh" class="btn btn-default" type="button" title="Refresh player"><i class="fa fa-refresh"></i></button>
                            <button id="video-metadata" class="btn btn-default" type="button" title="Video information"><i class="fa fa-info-circle"></i></button>
                        </span>
                    </div>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-question-circle"></i>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://plus.google.com/+YormanArias" target="_blank"><i class="fa fa-user"></i>Author</a></li>
                            <li class="divider"></li>
                            <li><a href="https://www.gittip.com/cixtor/" target="_blank"><i class="fa fa-usd"></i>Donate</a></li>
                            <li><a href="https://github.com/cixtor/nwplayer" target="_blank"><i class="fa fa-github-alt"></i>Source code</a></li>
                            <li><a href="https://github.com/cixtor/nwplayer/issues/new" target="_blank"><i class="fa fa-cogs"></i>Request feature</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="media-content"></div>
    </div>
</body>
</html>